* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  
  header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: #7c2a67;
    color: #0e0101;
  }
  
nav a:hover {
  color: #0e0a0a;
  cursor:grab;
}

 h1 {
    display: inline-block;
    font-size: 45px;
  }
  
#a {
margin-top: 10px;
padding-inline: 7px;
font-size: 25px;
float:right;
display: inline;
text-decoration: none;
}
body {
  background-color: #dfebf4;
}

aside p {
  font-size: 60px;
  border-right: #7c2a67;
  margin-top: 30px;
  margin-right: 50px;
  font-size: 30px;
  color:#7c2a67;
  height: 500px;

}

 .meeting {
   max-height: auto;
   width: 50%;
   margin-bottom: 25px;
   object-fit: contain;
  }

  
.aboutme {
  display: flex;
  align-items: center;
}
.selfie {
margin-right: 20px;
width: 350px;
height: 300px;

}
main{
display:flex;

}
main p{
  font-size: 20px;
  margin-right: 70px;
}
.container {
  padding: 10px;
  text-align: center;
}
  /* border-style: solid;
  border-width: 1px;
} */

.subsection{
  width: 100%;
  display: flex;
}
/* .card {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px; */
}


.contact  {
display:table-row
text-align: center;
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}

@media screen and (max-width: 992px) {
}


@media screen and (max-width: 768px) {
}
